nav {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}
.nav a {
  padding: 0.5rem 1rem;
}
.nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-size: x-large;
}
.nav-container {
  display: flex;
  transition: var(--transition);
}
.nav-item {
  height: fit-content;
  padding: 5px 20px;
}
.nav-item:hover {
  border-bottom: 0.3rem solid var(--color-primary);
}
@media screen and (max-width: 1024px) {
  .nav-container {
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  .nav-container {
    display: none;
  }
}
